[Unit]
Description=Mellanox Switchdev Mode
DefaultDependencies=no
Before=networking.service openvswitch-switch.target

[Service]
Type=oneshot
KillMode=none
ExecStart=/usr/bin/mlnx-switchdev-mode switch
TimeoutSec=0

[Install]
WantedBy=multi-user.target
