[Unit]
Description=Configure Mellanox adapters into switchdev mode
DefaultDependencies=no
Before=network.target openvswitch-switch.service
After=network-pre.target sriov-netplan-shim.service

[Service]
EnvironmentFile=-/etc/default/mlnx-switchdev-mode
Type=oneshot
KillMode=none
ExecStart=/usr/bin/mlnx-switchdev-mode switch $MLNX_SWITCHDEV_MODE_OPTS
TimeoutSec=0

[Install]
WantedBy=multi-user.target
